# See https://help.github.com/en/articles/about-code-owners
# for more info about CODEOWNERS file.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @bxtp4p
kubernetes-manifests/* @bxtp4p-demos/infra-team
src/adservice/* @bxtp4p-demos/java-team
src/cartservice/* @bxtp4p-demos/dotnet-team
